---
layout: default
---
<h1>{{ page.title }}</h1>
<p><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
<div>
  {{ content }}
</div>
<script src="https://giscus.app/client.js"
        data-repo="goopey7/personal-site"
        data-repo-id="R_kgDOH9XFbw"
        data-category="Announcements"
        data-category-id="DIC_kwDOH9XFb84CvHG_"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="gruvbox_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
